<div class="subscriber-page">
  <div class="container-fluid col-12 col-sm-12">
<!--    <div class="col">-->
      <div class="row align-items-end" id="row-text">
<!--        <div class="col-text">-->
          <p class="text-center">Введите код из СМС для просмотра документов</p>
<!--        </div>-->
      </div>
      <div class="row" id="row-button">
<!--        <div class="col ">-->
          <div class="text-center">
            <button id="basic" type="button" class="btn-sm btn-send" mat-raised-button (click)="onSubmit()">
              <!--<button id="basic" type="button" mat-button (click)="clicked = true">-->
              Получить СМС с кодом
            </button>
          </div>
<!--        </div>-->
      </div>
<!--    </div>-->

  </div>
</div>


