.container-fluid {
  height: 100%;
  position: absolute;
  background-color: #000000;
  /*background-size: 90% 100%;*/
  /*background-repeat: no-repeat;*/
  /*min-height: 100px;*/
  overflow-wrap: break-word;
}

.btn-send {
  background: #6699FF;
  color: #E6E6FA;
  /*font-weight: 300;*/
  /*letter-spacing:1.5px;*/
  width:auto;

}

#row-text {
  /*letter-spacing:1.0px;*/
  font-size: 12px;
  min-height: 50%;
}

#row-button {
  padding-top: 50px;
  min-height: 50%;
}

.text-center {
  color: #E6E6FA;
}

